<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>测试Thymeleaf的使用</title>
    <style>
        .web_show {
            color: red;
        }
    </style>
</head>
<body>
<!--<h3 th:text="${name}"></h3>-->

<hr/>
<div class="web_show" shiro:hasPermission="user:admin">
申购物料： <a href="add">添加物料</a><br/>
</div>
<div shiro:hasPermission="user:teacher">
登记物料： <a href="update">登记物料</a><br/>
</div>
<a href="toLogin">登录</a>
</body>
</html>